# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    strategy:
      max-parallel: 3
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run format:check
    - run: npm run lint:check
    - run: npm run clean
    - run: npm run build
    - run: npm run test
    - run: npm run bundle
    - run: npm run package

    - uses: actions/upload-artifact@v4
      with:
        name: vsix-artifact-${{ matrix.os }}-node-${{ matrix.node-version }}
        path: ./*.vsix
